In [52]:
# print Function Practise Question:

#Print a data ingestion log message: "[INFO] Starting ETL process at 2024-01-15 08:00:00"
print("[INFO] Starting ETL process at 2024-01-15 08:00:00")


# Print a table schema in a readable format: column name, data type, and nullable status
print("Student_Name "+ "Data type "+"nullable status")

# Print a progress bar simulation: "Processing: [##########] 100%"
print("Processing: [##########] 100%")

#Print multiple data quality metrics in one line: "Rows: 10000, Nulls: 23, Duplicates: 5"
print("Rows:10000, Nulls: 23, DuplicatesL 5")

#Print a SQL query with proper formatting (using triple quotes)
print("""SELECT * FROM""")


# Print a CSV header row with 5 columns separated by pipes |
print("Tahir|Zaman|23ds14|22|Quest Univercity|")

[INFO] Starting ETL process at 2024-01-15 08:00:00
Student_Name Data type nullable status
Processing: [##########] 100%
Rows:10000, Nulls: 23, DuplicatesL 5
SELECT * FROM
Tahir|Zaman|23ds14|22|Quest Univercity|